<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Éxito - Viaje Iniciado</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
        }
        h1 {
        color: #4CAF50;
        }
        p {
            color: #333;
        }
        .texto{
            color: #ce3a7b;
            font-family: Arial, sans-serif;
            align-content: center;
        }
    </style>
</head>
<body>
<h1>¡Bienvenido a Mure: Share your Music Taste!</h1>
<img src="https://i.ibb.co/160TLGJ/Mure-Loco.jpg" alt="Logo Mure">
<p>Muchas gracias <span th:text="${name}"></span> por decidir formar parte de la famiilia de Mure</p>
<p> Desde el equipo de Mure, agradecemos tu confianza y busaremos ofrecer la mejor experiencia para ti y tus conocidos</p>

<div class="texto">
    <p>¡Que tengas un buen día!</p>
    <p>Atentamente, el equipo de Mure :D</p>
</div>
</body>
</html>
